@import "style.css";
@import "media.css";


$main_color:#46A358;
$main_font:'cera_proregular';

@font-face {
  font-family: 'cera_proregular';
  src: url('../font/cerapro-regular-webfont.eot');
  src: url('../font/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/cerapro-regular-webfont.woff2') format('woff2'),
  url('../font/cerapro-regular-webfont.woff') format('woff'),
  url('../font/cerapro-regular-webfont.ttf') format('truetype'),
  url('../font/cerapro-regular-webfont.svg#cera_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_promedium';
  src: url('../font/cerapro-medium-webfont.eot');
  src: url('../font/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/cerapro-medium-webfont.woff2') format('woff2'),
  url('../font/cerapro-medium-webfont.woff') format('woff'),
  url('../font/cerapro-medium-webfont.ttf') format('truetype'),
  url('../font/cerapro-medium-webfont.svg#cera_promedium') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'cera_probold';
  src: url('../font/cerapro-bold-webfont.eot');
  src: url('../font/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/cerapro-bold-webfont.woff2') format('woff2'),
  url('../font/cerapro-bold-webfont.woff') format('woff'),
  url('../font/cerapro-bold-webfont.ttf') format('truetype'),
  url('../font/cerapro-bold-webfont.svg#cera_probold') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'cera_problack';
  src: url('../font/cerapro-black-webfont.eot');
  src: url('../font/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/cerapro-black-webfont.woff2') format('woff2'),
  url('../font/cerapro-black-webfont.woff') format('woff'),
  url('../font/cerapro-black-webfont.ttf') format('truetype'),
  url('../font/cerapro-black-webfont.svg#cera_problack') format('svg');
  font-weight: normal;
  font-style: normal;

}
*{
  padding: 0;
  margin: 0;
}
input{
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  width: 100%;
  box-sizing:border-box;
  margin-bottom: 16px;
  padding: 12px 14px 12px 14px;
  font-weight: 400;
  font-size: 14px;
  color: #a5a5a5;
  line-height: 114%;
}
.global_container{
  width:500px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  padding: 52px 100px;
}
#box_model{
  text-align: center;
  margin-bottom: 40px;
}
.text{
  font-weight: 400;
  font-size: 13px;
  color: #3d3d3d;
  text-align: left;
  line-height: 123%;
  margin-bottom: 15px;
}
.mb{
  margin: auto;
  padding: 32px 0 16px 0;
  height: 16px;
  width: 100%;

}
.global_container #box_model span {
  &:first-of-type {
    border-right: solid 1px;
    padding-right: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    display: inline-block;
    color: #3d3d3d;
  }
  &:last-of-type{
    color: #46A358;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    margin-left: 10px;
  }
}

.global_container{
a{
  text-decoration: none;
  width: 100%;
  font-size:13px;
  display: block;
  box-sizing:border-box;
  border-radius: 5px;
  margin-bottom: 15px;
  border: solid 1px #eaeaea;
  text-align: center;
  font-weight: 500;
  padding: 10px 0;
}
}
.button{
  width: 100%;
  background-color: #46a358;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  border: none;
  padding:16px 0;
}
.container{
  max-width: 1200px;
  margin: auto;
  border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
}


header{
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
.logo{
  margin-right: 229px;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
.login{
  margin-left: 364px;
  padding: 8px 17px 7px 17px;
  background-color: #46a358;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-align: center;
  box-sizing:border-box;
  display: inline-flex;
  font-family: 'cera_promedium';
 ul{
  list-style: none;
  display: flex;
  margin-top: 50px;
  nav{
    display: inline-block;
  }
  li{
    ul{
      li{
        margin-right: 0;
        margin-bottom: 5px;
      }
   &:after{
     margin-top: 9px;
   }
    a{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
    font-family: cera_proregular;
  }
  li{
    margin-right: 50px;
  }
    &:last-of-type{
      margin-right: 0;
    }
        &:after{
      height: 3px;
      background-color:transparent;
      width: 100%;
      content: "";
      display: block;
      margin-top: 22px;
      transition: 0.3s;
    }
    &:hover{
    &:after{
      background-color: #46A358;
    }
}




.dropdown {
  display: block;
  position: absolute;
  background-color: #EDF6EE;
  top: 10px;
  height: 0;
  opacity: 0;
  font-family: 'cera_proregular';
  font-size: 16px;
  color: #3d3d3d;
  width: 188px;
  bottom:10px;
}
li {
  &li{
  &:after{
    display: none;
  }
  &:last-of-type{
   &:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: -4px;
    transition: 1s;
  }
  &:last-of-type{
     &:hover svg path{
    fill: white;
  }
  &:hover{
    &:after{
    display: none;
    background-color: transparent;
  }
  &:hover a{
    color:white;
  }
}


.dropdown_2{
  display: block;
  position: absolute;
  background-color:#EDF6EE;
  top: -50px;
  left: 180px;
  height: 80px;
  opacity: 0;
  font-family: 'cera_proregular';
  font-size: 16px;
  color: #3d3d3d;
  width: 178px;
li {
  &:after{
    display: none;
  }
  &:last-of-type{
  &:after{
    display: none;
}
  &:hover{
   &:after{
    display: none;
  }
  &:hover a{
    color:white;
  }
  &:hover {
    background-color: #EDF6EE;
  }
}



.drop {
  position: relative;
}
  &:hover .dropdown{
    opacity: 1;
    height: auto;
    transition: 0.5s;
  }



  .drop_2 {
    position: relative;}
    a {
      padding-right: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &:hover svg {
      animation: priming 1s infinite;
    }
    &:hover .dropdown_2{
      opacity: 1;
      height: auto;
      transition: 0.3s;
    }
  }

  @keyframes priming {
    0% {
      transform: rotate(90deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }





