@font-face {
    font-family: 'cera_proregular';
    src: url('../font/cerapro-regular-webfont.eot');
    src: url('../font/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/cerapro-regular-webfont.woff2') format('woff2'),
    url('../font/cerapro-regular-webfont.woff') format('woff'),
    url('../font/cerapro-regular-webfont.ttf') format('truetype'),
    url('../font/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_promedium';
    src: url('../font/cerapro-medium-webfont.eot');
    src: url('../font/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/cerapro-medium-webfont.woff2') format('woff2'),
    url('../font/cerapro-medium-webfont.woff') format('woff'),
    url('../font/cerapro-medium-webfont.ttf') format('truetype'),
    url('../font/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cera_probold';
    src: url('../font/cerapro-bold-webfont.eot');
    src: url('../font/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/cerapro-bold-webfont.woff2') format('woff2'),
    url('../font/cerapro-bold-webfont.woff') format('woff'),
    url('../font/cerapro-bold-webfont.ttf') format('truetype'),
    url('../font/cerapro-bold-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cera_problack';
    src: url('../font/cerapro-black-webfont.eot');
    src: url('../font/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/cerapro-black-webfont.woff2') format('woff2'),
    url('../font/cerapro-black-webfont.woff') format('woff'),
    url('../font/cerapro-black-webfont.ttf') format('truetype'),
    url('../font/cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
    padding: 0;
    margin: 0;
}
input{
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    width: 100%;
    box-sizing:border-box;
    margin-bottom: 16px;
    padding: 12px 14px 12px 14px;
    font-weight: 400;
    font-size: 14px;
    color: #a5a5a5;
    line-height: 114%;
}
.global_container{
    width:500px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 52px 100px;
}
#box_model{
    text-align: center;
    margin-bottom: 40px;
}
.text{
    font-weight: 400;
    font-size: 13px;
    color: #3d3d3d;
    text-align: left;
    line-height: 123%;
    margin-bottom: 15px;
}
.mb{
    margin: auto;
    padding: 32px 0 16px 0;
    height: 16px;
    width: 100%;

}
.global_container #box_model span:first-of-type{
    border-right:solid 1px;
    padding-right: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    display: inline-block;
    color: #3d3d3d;
}
.global_container #box_model span:last-of-type{
    color: #46A358;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    margin-left: 10px;
}
.global_container a{
    text-decoration: none;
    width: 100%;
    font-size:13px;
    display: block;
    box-sizing:border-box;
    border-radius: 5px;
    margin-bottom: 15px;
    border: solid 1px #eaeaea;
    text-align: center;
    font-weight: 500;
    padding: 10px 0;
}
.button{
    width: 100%;
    background-color: #46a358;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    border: none;
    padding:16px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
}

header{
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}
header nav, header .logo {
    display: inline-block;

}
header nav ul li.drop, header nav ul li.drop_2{
    position: relative;
}
header ul{
    list-style: none;
    display: flex;
    margin-top: 50px;
}
 .dropdown {
    display: block;
    position: absolute;
    background-color: #EDF6EE;
    top: 10px;
    height: 0;
    opacity: 0;
     font-family: 'cera_proregular';
     font-size: 16px;
     color: #3d3d3d;
     width: 188px;
     bottom:10px;

}
.dropdown_2{
    display: block;
    position: absolute;
    background-color:#EDF6EE;
    top: -50px;
    left: 180px;
    height: 80px;
    opacity: 0;
    font-family: 'cera_proregular';
    font-size: 16px;
    color: #3d3d3d;
    width: 178px;
}
header nav ul .dropdown li:last-of-type:after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    /*background-image: url("../img/right_bottom_hover.svg");*/
    /*background-repeat: no-repeat;*/
    position: absolute;
    right: 20px;
    top: -4px;
    transition: 1s;
}


header nav ul .dropdown li:last-of-type:hover svg path{
    transform: rotate(360deg);
}
header nav ul .dropdown li:last-of-type:hover svg path{
    fill: white;

}
/*header nav ul .dropdown li:last-of-type:after:hover {*/
/*color: white;*/
/*}*/


header nav ul .dropdown_2 li:last-of-type:after{
    display: none;
}
.drop_2:hover .dropdown_2{
    opacity: 1;
    height: auto;
    transition: 0.3s;
}
.drop:hover .dropdown{
    opacity: 1;
    height: auto;
    transition: 0.5s;

}

.dropdown li:hover a, .drop_2 .dropdown_2 li:hover a{
    color:white;
}

 .dropdown li a, .drop_2 .dropdown_2 li a {
    color: #3d3d3d;


}
 .dropdown li:hover:after, .drop_2 .dropdown_2 li:hover:after{
     display: none;
 }
.dropdown li:after, .drop_2 .dropdown_2 li:after{
    display: none;
}

.dropdown li:hover:after{
    background-color: transparent;
}

.dropdown_2:hover {
    background-color: #EDF6EE;
}
.dropdown_2 ul li :hover a {
     background-color: #7fff97;
}


header nav li a{
    text-decoration: none;
    font-family: cera_proregular;
}
header .logo{
    margin-right: 229px;
    text-decoration: none;
    vertical-align: middle;

}
header .login{
    margin-left: 364px;

}
header nav li{
    margin-right: 50px;

}
header nav li:last-of-type{
    margin-right: 0;
}
header nav li a{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
header nav li:after{
    height: 3px;
    background-color:transparent;
    width: 100%;
    content: "";
    display: block;
    margin-top: 22px;
    transition: 0.3s;
    }
header nav li ul li:after{
    margin-top: 9px;
}
header nav li ul :hover {
    background-color:green;
}
header nav li ul li{
    margin-right: 0;
    margin-bottom: 5px;
}

header nav li:hover:after{
    background-color: #46A358;
}
.login{
    padding: 8px 17px 7px 17px;
    background-color: #46a358;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-align: center;
    box-sizing:border-box;
    display: inline-flex;
    font-family: 'cera_promedium';

}
.banner .container_banner{
    background: linear-gradient(135deg, #f5f5f5 0%, #f5f5f5 100%);
    min-height:450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    }
.welcome{
    margin-left:43px;
}
.banner article{
    max-width: 557px;
    display: inline-block;
    margin-right: 93px;
    }
h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-top: 68px;
    margin-bottom: 7px;
    font-family: 'cera_promedium';
}
h1{
    font-weight: 900;
    font-size: 65px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
    font-family: 'cera_problack';
}
p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
    font-family: 'cera_proregular';
}
.button.sh{
    border-radius: 6px;
    width: 140px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-align: center;
    box-sizing:border-box;
    display: inline-block;
    text-decoration: none;
    background-color: #46a358;
    padding: 11px 0 9px;
    font-family: 'cera_probold';
}

.categories .container_categories{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}
.categories{
    padding-top: 94px;
}

.categories .left_sidebar{
    max-width: 310px;

}
.list{
    list-style: none;
    line-height: 267%;
    margin-bottom: 250px;
}
.categories .left_sidebar nav{
    margin-bottom: 377px;
}

.categories .right_content {
    max-width: 840px;
}
.flex_right{
    display: flex;
justify-content: space-between;
    list-style: none;

}
.categories .container_categories .left_sidebar nav ul li a{
    list-style: none;
    font-family: 'cera_proregular';
}
h3{
    font-family: 'cera_probold';
    margin-bottom: 7px;
}

.categories .right_content article {
    width: 258px;
    border-top: solid 1px transparent;
    position: relative;


}
.categories .right_content article ul{
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 67px;
    left: 73px;
    width: 125px;
    transition: 0.4s;
    opacity: 0;
    color: #3d3d3d;
    justify-content: space-between;
    background-color:white;
}
.categories .right_content article:hover ul {
    opacity: 1;
}
.categories .right_content article ul li:hover a svg path{
   fill: green!important;
}

.categories .right_content article ul li:hover a {
    color: white;
}
.categories .right_content article ul li:hover a {
    background-color: white;
}

.categories .right_content article .sale{
    position: absolute;
    left:0;
    top:10px;
    background-color: #46A358;
    padding: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    width: auto;
    }
.categories .right_content article:hover {
    border-top: solid 1px #46A358;

}
.flex_right_plants{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'cera_proregular';
    font-size: 18px;
}

.categories .right_content article span {
    width: 258px;
    font-family: 'cera_probold';
    color: #46A358;
    margin-right: 15px;

}
.categories .right_content article h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
    position: relative;
    display: inline-block;

}
.categories .right_content article h5:before {
    content:"";
    display: block;
    position: absolute;
    height: 2px;
    background-color: #a5a5a5;
    width: 100%;
    bottom: 7px;
}

.flex_right_plants article p{
    margin-bottom: 6px;
}

.categories .list li a{
    color:  #3d3d3d;
    font-size: 15px;
    transition: 0.5s;
    text-decoration: none;
    font-family: 'cera_proregular';

}
.categories .list li a:hover{
    color: #46A358;
}
.right_content .flex_right .list_2 li {
    font-size: 15px;
    transition: 0.5s;
    display:inline-block;
    font-family: 'cera_proregular';
    margin-right: 37px;
}
.right_content .flex_right .list_2 li a {
    list-style: none;
    text-decoration: none;
    color:  #3d3d3d;
}
.right_content .flex_right .list_2 li a:hover{
    color: #46A358;
    border-bottom: solid 1px #46A358;
}

.page_strip ul {
     display: flex;
    justify-content: end;
    max-width: 1200px;
    align-items: center;
    margin-left: 970px;
    list-style: none;
    flex-direction: row;
    margin-top: 90px;

}
.page_strip ul li{
    margin-right: 10px;
}

.page_strip a {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    justify-content: center;
    display: flex;
    color:  #3d3d3d;
    font-size: 15px;
    transition: 0.5s;
    width: 35px;
    height: 35px;
    align-items: center;
    text-decoration:none;
    max-width: 1200px;
}

.page_strip ul li:last-of-type:hover a svg path {
    stroke:white !important;
}

 .page_strip ul li:hover{
    background-color: #46A358;

}
 .page_strip ul li:hover a{
    color: white;

}

.page_strip ul li:last-of-type{
    display: inline-block;
    position: relative;
    animation: slideright 1s infinite;
}
@keyframes slideright {
    0%{
        left: 0;
    }
    100%{
        left: 50px;
        box-shadow:#46A358 0 7px 29px 0 ;
    }
}


.plants{
    padding-top: 94px;
    padding-bottom: 30px;
}
.left_plant{
    position: relative;
    width: 586px;
    height: 302px;
}
.text_plants_left, .text_plants{
    position: absolute;
    top: 90px;
    left: 430px;
    text-align: right;
    flex-direction: column;
    display: flex;
}
.text_left_1{
    /*position: absolute;*/
    /*top: 89px;*/
    /*bottom: 9px;*/
    /*left: 300px;*/
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #3d3d3d;
    font-family: 'cera_problack';

}
.text_left_2{
    /*position: absolute;*/
    /*top: 150px;*/
    /*left: 300px;*/
    /*display: flex;*/
    /*justify-content: flex-end;*/
    font-size: 14px;
    line-height: 171%;
    /*text-align: right;*/
    color: #727272;
    font-family: 'cera_proregular';

}
.right_plant{
    position: relative;
    width: 586px;
    height: 302px;
}

.text_right_1{
    /*position: absolute;*/
    /*top: 89px;*/
    /*left: 430px;*/
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    /*text-align: right;*/
    color: #3d3d3d;
    font-family: 'cera_problack';

}
.text_right_2{
    /*position: absolute;*/
    /*top: 150px;*/
    /*left: 270px;*/
    font-size: 14px;
    line-height: 171%;
    /*text-align: right;*/
    color: #727272;
    font-family: 'cera_proregular';

}
.categories_plants{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;

}
.button_find{
    border-radius: 6px;
    width:auto;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-align: center;
    box-sizing:border-box;
    display: inline-flex;
    padding: 11px 47px 9px 28px;
    text-decoration: none;
    background-color: #46a358;
    margin-top: 25px;
    font-family: 'cera_promedium';
    margin-left: 2px;
    /*position: absolute;*/
    /*bottom: 50px;*/
    /*right: 0;*/
}

.text_left_1 .text_left_2{
        display: flex;
        justify-content: space-between;
}
.blog_posts{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'cera_probold';
    line-height: 53%;
    color: #3d3d3d;
    margin-bottom:15px ;
    padding-top: 138px;
}
.blog_posts_2{
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-family: 'cera_proregular';
    line-height: 171%;
    color: #727272;
}
.blog_posts_plant{
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding-top: 35px;
    justify-content: space-between;
}
.blog_posts_plant article{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 268px;
    flex-direction: column;
}
.date, .title_plant, .short_title, .read_more{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.date{
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    font-family: 'cera_promedium';
    padding-top: 9px;
}
.title_plant{
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    font-family: 'cera_probold';
    padding-top: 4px;

}
.short_title{
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    font-family: 'cera_proregular';
    padding-top: 4px;
}
.read_more{
    font-size: 14px;
    line-height: 114%;
    color: black;
    text-decoration:none;
    font-family: 'cera_promedium';

}

.read_more:hover{
    color:green ;
}
.read_more:hover svg path{
    fill: #46A358;
}
.menu_last{
    display: flex;
    justify-content: space-between;
    padding-top: 91px;
    max-width: 1200px;
    margin: auto;
}

.garden p, .renovation p, .watering p{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    font-family: 'cera_proregular';
    display: block;
    padding-top: 9px;
}
.garden span, .renovation span, .watering span{
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    font-family: 'cera_probold';
    display: block;
    padding-top: 15px;
}
.join_letter span{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_probold';
}
.join_letter p{
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
    font-family: 'cera_proregular';
    padding-top: 18px;
}
.button_join{
    border-radius: 0 6px 6px 0;
    width:auto;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-align: center;
    box-sizing:border-box;

    text-decoration: none;
    background-color: #46a358;
    margin-top: 25px;
    font-family: 'cera_promedium';
    margin-left: -14px;
    border: 1px solid #3d3d3d;
}
.email input {
    /*    border: 1px solid #3d3d3d;*/
    /*    border-right: 0;*/
    /*    border-radius: 6px 0 0 6px;*/
    /*}*/
    border-radius: inherit;
    padding: 9px 16px 9px 14px;

}
.button_join, .email{
    display: inline-block;
    padding: 8px 10px;
    border: 0;
    font: inherit;
    box-sizing: border-box;
}
.gradient_menu{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
    height: 88px;
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
    align-items: center;
    padding: 0 22px 0 23px;
}
.account {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 33px;
    padding-bottom: 29px;
}
.type_1 ul li, .type_2 ul li, .type_3 ul li{
   list-style: none;
}
.type_1, .type_2, .type_3{
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    font-family: 'cera_proregular';

}
.type_1 li:first-child,.type_2 li:first-child, .type_3 li:first-child{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_probold';
}
.social_media span{
  display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_probold';
    padding-bottom: 13px;
}
.social_media a img {
    padding-top: 20px;
    padding-bottom: 33px;
    text-decoration: none;
}
.social_media a{
    text-decoration: none;
}
